<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
   id="cordova-plugin-headset-buttons"
   version="1.0.0">

 <name>HeadsetButtons</name>
 <description>An Android Cordova plugin that allows users to map headset buttons.</description>
 <license>Apache 2.0</license>
 <keywords>cordova,headset,buttons</keywords>

 <js-module src="www/headsetbuttons.js" name="headsetbuttons">
   <clobbers target="HeadsetButtons" />
 </js-module>

 <!-- android -->
 <platform name="android">
   <config-file target="res/xml/config.xml" parent="/*">
     <feature name="HeadsetButtons">
       <param name="android-package" value="com.jobr3255.headsetbuttons.HeadsetButtonsListener"/>
     </feature>
   </config-file>

   <source-file src="src/android/HeadsetButtonsListener.java" target-dir="src/com/jobr3255/headsetbuttons" />
 </platform>
</plugin>
